{% extends 'base.html.twig' %}

{% block content %}

    <h1>Status from HealthCheckManager</h1>
    <div class="well">

        <p class="text-success">
            <i class="fa fa-birthday-cake"></i>
            Message: {{ message }}
        </p>

    </div>

{% endblock %}
